---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import LinkedIn from '../components/icons/LinkedIn.astro'
import GitHub from '../components/icons/GitHub.astro'
import Gmail from '../components/icons/Gmail.astro'
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
---

<Layout title="kkrlosdev | Portafolio - Desarrollador y Programador Web."
		description="Portafolio personal de Carlos Rodríguez, Programador Web BackEnd, Tech-Stack: HTML, CSS, JS, NextJS, Django, Postgres.">
	<main>
		<SectionContainer class="py-44 pb-22">
			<h1 class="text-white text-5xl font-bold flex gap-x-4 pb-3">Hola, soy kkrlosdev <a href="https://linkedin.com/in/carlosrodriguez1205/"
																								target="_blank"
																								rel="noopener" 
																								class="flex justify-center items-center">
																								<Badge>Realizando prácticas laborales</Badge></a></h1>
			<h2 class="text-2xl opacity-85 text-wrap"><span class="text-yellow-200/90">Programador de Software y Desarrollador Web.</span> <span class="text-red-200/100">De Barranquilla, Colombia.</span> <span class="opacity-75 text-blue-200/100">Digitalizador de ideas, me encuentro en una etapa continua de aprendizaje.</span></h2>
			<nav class="flex gap-x-4 mt-5">
					<SocialPill href="https://linkedin.com/in/carlosrodriguez1205">
						<LinkedIn class="size-6"/>
						LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/kkrlosdev/">
						<GitHub class="size-6"/>
						GitHub
					</SocialPill>
					<SocialPill href="https://github.com/kkrlosdev/">
						<Gmail class="size-6"/>
						rocarlos1205@gmail.com
					</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 items-center flex gap-x-2"><Briefcase class="size-8"/> Experiencia laboral</h2>
			<Experience/>
		</SectionContainer>
	</main>
</Layout>
