<article
    class="flex flex-col items-center justify-center gap-8 dark:text-white md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>span]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Carlos Rodríguez. Actualmente estoy <span
                >trabajando como practicante en Gelco SAS.</span
            >
        </p>

        <p>
            Mis lenguajes favoritos son Python y C, aunque de este último soy novato. <span
                >Me enfoco en el desarrollo BackEnd,
                pero puedo hacerlo bien en el FrontEnd.</span
            > Me apasiona realmente la tecnología, por ende, estoy constantemente aprendiendo sobre este mundillo.
        </p>

        <p>
            Mi objetivo es poder aportar a la tecnología soluciones de primer nivel, <span
                >espero pronto tener el conocimiento necesario para poder contribuir al <em class="italic">Kernel de Linux</em>
            </span
            >. ¿Y por qué no crear algo que cambie el mundo?
        </p>
    </div>
</article>
