<footer class=" rounded-lg shadow m-4 bg-black/90 backdrop-blur-lg w-full xl:w-[1020px] mx-auto mt-10 mb-10">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-200 sm:text-center dark:text-gray-400">&copy; 2024.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/" class="hover:underline me-4 md:me-6">Inicio</a>
        </li>
        <li>
            <a href="#experience" class="hover:underline me-4 md:me-6">Experiencia</a>
        </li>
        <li>
            <a href="#projects" class="hover:underline me-4 md:me-6">Proyectos</a>
        </li>
        <li>
            <a href="mailto:rocarlos1205@gmail.com" class="hover:underline">Contáctame</a>
        </li>
    </ul>
    </div>
</footer>
