<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
    <nav class="flex gap-x-10 opacity-80">
        <a href="/">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contáctame</a>
    </nav>
</header>