<header class="fixed text-sm top-0 left-1/2 transform -translate-x-1/2 flex justify-center items-center mt-5 py-1 px-1 w-full xl:w-[420px] rounded-full bg-gray-800 z-50">
    <nav class="flex gap-x-10 opacity-80">
        <a href="#experience" class="hover:text-yellow-300/90 transition">Experiencia</a>
        <a href="#projects" class="hover:text-yellow-300/90 transition">Proyectos</a>
        <a href="#aboutme" class="hover:text-yellow-300/90 transition">Sobre mí</a>
        <a href="mailto:rocarlos1205@gmail.com" class="hover:text-yellow-300/90 transition">Contáctame</a>
    </nav>
</header>
