<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
    <nav class="flex gap-x-10 opacity-80">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </nav>
</header>